footer {
  background-color: $color-2;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .footer-column {
    flex: 1 1 30%;
    padding: 1rem;
    min-width: 200px;

    @media (max-width: 768px) {
      flex: 1 1 100%;
    }

    &-left {
      border-right: 1px solid white;
      text-align: right;

      @media (max-width: 768px) {
        border-right: 0;
      }
    }

    &-right {
      border: 0;
      margin-right: 0;

      @media (max-width: 768px) {
        border-top: 1px solid white;
      }
    }
  }

  .footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;

    p {
      margin: 0;
    }
  }
}


